	<!-- Footer -->

	<footer class="footer">
		<div class="footer_content">
			<div class="container">
				<div class="row">
					
					<!-- Footer Column -->
					<div class="col-lg-4 footer_col">
						<div class="footer_about">
							<div>
								<a href="#">
									<div class="logo_container d-flex flex-row align-items-start justify-content-start">
										<div class="logo_content">
											<div class="logo_image">
												<img src="{{ asset('images/logobpi.png') }}" alt="Logo BPI">
											<div>
										</div>
									</div>
										
											<div class="logo_text logo_text_not_ie">Congrès du barreau pénal international au Mali</div>
											<div class="logo_sub">14-15-16 Novembre 2019 - Bamako à l'Hotel Sheraton</div>
										</div>
										
									</div>
								</a>	
							</div>
							<div class="footer_about_text">
								<p></p>
							</div>
						</div>
					</div>

					<!-- Footer Column -->
					<div class="col-lg-3 footer_col">
						<div class="footer_links">
							<ul>
								<li><a href="#">Contactez-nous</a></li>
								<li><a href="#">Informations</a></li>
								<li><a href="#">Agenda</a></li>
								<li><a href="#">Adresse</a></li>
							</ul>
						</div>
					</div>

					<!-- Footer Column -->
					<div class="col-lg-3 footer_col">
						<div class="footer_links">
							<ul>
								<li><a href="#">Hotels</a></li>
								<li><a href="#">Informations sur le Mali</a></li>
							</ul>
						</div>
					</div>

					<!-- Footer Column -->
					<div class="col-lg-2 footer_col">
						<div class="footer_links">
							<ul>
								<li><a href="#">Barreau Pénal Internationnal</a></li>
								<li><a href="#">Cour Pénale Internationale</a></li>
								<li><a href="#">Barreau du Mali</a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="footer_extra">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="footer_extra_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-start justify-content-center">
							<div class="footer_social">
								<div class="footer_social_title">Liens réseaux sociaux</div>
								<ul class="footer_social_list">
									<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<div class="footer_extra_right ml-lg-auto text-lg-right">
								<div class="footer_extra_links">
									<ul>
										<li><a href="contact.html">Contactez-nous</a></li>
									</ul>
								</div>
								<div class="copyright" style="color:#0c081d">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>