	<!-- Footer -->

	<footer class="footer">
		<div class="footer_content">
			<div class="container">
				<div class="row">
					
					<!-- Footer Column -->
					<div class="col-lg-4 footer_col">
						<div class="footer_about">
							<div>
								<a href="#">
									<div class="logo_container d-flex flex-row align-items-start justify-content-start">
										<div class="logo_content">
											<div class="logo_image">
												<img src="{{ asset('images/logobpi.png') }}" alt="Logo BPI">
											<div>
										</div>
									</div>
											<br/>
											<div class="logo_text logo_text_not_ie">{% trans %}1er Congrès du barreau pénal international en Afrique{% endtrans %}</div>
											<div class="logo_sub">{% trans %}Du 14 au 16 Novembre 2019{% endtrans %} <br/>{% trans %}à l'Hotel Sheraton de Bamako - Mali{% endtrans %}</div>
										</div>
										
									</div>
								</a>	
							</div>
							<div class="footer_about_text">
								<p></p>
							</div>
						</div>
					</div>

					<!-- Footer Column -->
					<div class="col-lg-3 footer_col">
						<div class="footer_links">
							<ul>
								<li><a href="{ path('congres') }}">{% trans %}Congrès{% endtrans %}</a></li>
								<li><a href="{ path('agenda') }}">{% trans %}Agenda{% endtrans %}</a></li>
								<li><a href="{{ path('contact') }}">{% trans %}Contactez-nous{% endtrans %}</a></li>
							</ul>
						</div>
					</div>

					<!-- Footer Column -->
					<div class="col-lg-3 footer_col">
						<div class="footer_links">
							<ul>
								<li><a href="#">{% trans %}Hotels{% endtrans %}</a></li>
								<li><a href="#">{% trans %}Informations sur le Mali{% endtrans %}</a></li>
							</ul>
						</div>
					</div>

					<!-- Footer Column -->
					<div class="col-lg-2 footer_col">
						<div class="footer_links">
							<ul>
								<li><a href="#">{% trans %}Barreau pénal international{% endtrans %}</a></li>
								<li><a href="#">{% trans %}Cour pénale internationale{% endtrans %}</a></li>
								<li><a href="#">{% trans %}Barreau du Mali{% endtrans %}</a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="footer_extra">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="footer_extra_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-start justify-content-center">
							<div class="footer_social">
								<div class="footer_social_title">{% trans %}Liens réseaux sociaux{% endtrans %}</div>
								<ul class="footer_social_list">
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>